@use "sass:math";

// base layout classes
.container{
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    border: red solid 10px;
}

.display-flex-row{
    display: flex;
    flex-flow: row wrap; // shorthand for flex-direction: row; flex-wrap: wrap;
}

$grid-columns: 12;
$layout-values: flex-start, flex-end, center, space-between, space-around, space-evenly;
$grid-gaps: (
    "0": 0,
    "1": 10px,
    "2": 20px,
    "3": 30px,
);

// Genrate grid gaps class
@each $key, $value in $grid-gaps {
    .gap-#{$key} > * {
        padding: $value;
    }
    .gap-#{$key} {
        margin-left: -$value;
        margin-right: -$value;
    }
}

// Generate grid justify content class
@each $val in $layout-values {
    .justify-#{$val} {
        justify-content: $val;
    }
}

@mixin cols($bpoint) {
    @for $i from 1 through $grid-columns {
       .col-#{$i}-#{$bpoint} {
        box-sizing: border-box;
        flex-grow: 0;
        width: math.div($i * 100%, $grid-columns);
       }
    }
 }

// columns classes 
@include xs {
    @include cols(xs);
    // generated class: col-1-xs, col-2-xs, col-3-xs, col-4-xs, col-5-xs, col-6-xs, col-7-xs, col-8-xs, col-9-xs, col-10-xs, col-11-xs, col-12-xs
}

@include sm {
    @include cols(sm);
    // generated class: col-1-sm, col-2-sm, col-3-sm, col-4-sm, col-5-sm, col-6-sm, col-7-sm, col-8-sm, col-9-sm, col-10-sm, col-11-sm, col-12-sm
}

@include md {
    @include cols(md);
    // generated class: col-1-md, col-2-md, col-3-md, col-4-md, col-5-md, col-6-md, col-7-md, col-8-md, col-9-md, col-10-md, col-11-md, col-12-md
    
}

@include lg {
    @include cols(lg);
        // generated class: col-1-lg, col-2-lg, col-3-lg, col-4-lg, col-5-lg, col-6-lg, col-7-lg, col-8-lg, col-9-lg, col-10-lg, col-11-lg, col-12-lg
}

@include xl {
    @include cols(xl);
        // generated class: col-1-xl, col-2-xl, col-3-xl, col-4-xl, col-5-xl, col-6-xl, col-7-xl, col-8-xl, col-9-xl, col-10-xl, col-11-xl, col-12-xl
}